/* 盒子属性
#outer {
  margin : 50px auto;
  width: 260px;
  height : 260px;
  padding: 20px;
  border : 10px solid red;

}

#inner {
  width: 200px;
  height : 200px;
  padding: 20px;
  border : 10px solid green;
}

#center {
  width: 180px;
  height : 180px;
  border : 10px solid blue;
}


#main {
  position: relative;
}
*/

/* 跑马灯
.marqueeBox {
  width : 500px;
  height : 100px;
  border : 1px solid green;
  margin : 20px auto;
  position: relative;
  overflow: hidden;
}

.wrapper li {
  list-style: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size : 20px;
  float : left;
}

.wrapper li:nth-child(3n+1) {
  background-color: lightgreen;
}
.wrapper li:nth-child(3n+2) {
  background-color: lightsalmon;
}
.wrapper li:nth-child(3n+3) {
  background-color: lightblue;
}

.wrapper {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height : 100px;
}
*/

/* 选项卡
.tabBox {
  position: relative;
  width : 500px;
  margin : 50px auto;
}

.clearfix{
  padding: 0px;
  margin: 0px;
  text-align: center;
  overflow:auto;
  height:1%
}

.clearfix li {
  height : 24px;
  float : left;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  width : 166.666px;
  border : black 1px solid;
}

.tabBox div {
  position: absolute;
  height : 400px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-top: 1px solid white;
  line-height: 400px;
  display: none;
}

.tabBox .active {
  display: block;
}

.clearfix .active{
  border-bottom: 1px solid white;
}
*/



/* 瀑布流
html, body {
  background : white;
  overflow-x : hidden;
}

.flowBox {
  margin : 20px auto;
  width : 1000px;
}

.flowBox li {
  list-style: none;
  float : left;
  margin-right : 20px;
  width : 320px;
}

.flowBox li:nth-last-child(1) {
  margin-right : 0;
}

.flowBox li a {
  display : block;
  margin-bottom : 10px;
  padding : 10px;
  background : #FFF;
  box-shadow : 3px 3px 10px 0 #666;
}

.flowBox li a div {
  background:url("img/info.svg") no-repeat center center #EEE;
}

.flowBox li a div img {
  display : block;
  width : 100%;
}

.flowBox li a span {
  display: block;
  margin-top : 10px;
  font-size : 12px;
  color : #555;
  line-height : 20px;
}
*/



/* 动画移动盒子 */
/* #box {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color : red;
} */


/* 图片懒加载
.container {
  margin : 20px auto;
  width : 1000px;
}

.container .imgBox {
  height : 300px;
  margin-bottom : 20px;
  background : url("img/info.png") no-repeat center center #EEE;
}

.container .imgBox img {
  display : none;
  width : 100%;
  height : 100%;
} */




/* 滚动轮播图
.container {
  position : relative;
  margin : 20px auto;
  width : 1000px;
  height : 300px;
  overflow: hidden;
}

.container .wrapper {
  position : absolute;
  left : 0;
  right : 0;
  width : 4000px;
  height : 100%;
}

.container .wrapper .slide {
  float : left;
  width : 1000px;
  height : 100%;
  overflow: hidden;
}

.container .wrapper .slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.container .focus {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  height : 12px;
  padding : 4px;
  background : rgba(255, 255, 255, .5);
  border-radius : 10px;
  font-size: 0;
}

.container .focus li {
  margin : 0 4px;
  display : inline-block;
  width : 12px;
  height : 12px;
  border-radius: 50%;
  background: #FFF;
}

.container .focus .active {
  background-color : red;
}

.container .arrow {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -22.5px;
  width: 28px;
  height: 45px;
  opacity: 0.3;
}

.container .arrow:hover {
  opacity: 1;
}

.container .arrowLeft {
  background: cyan url("img/arrow/back.png") no-repeat center center;
  left : 0;
}
.container .arrowRight {
  background: rgb(86, 87, 87) url("img/arrow/next.png") no-repeat center center;
  right : 0;
} */



/* 轮播图
.container {
  position : relative;
  margin : 20px auto;
  width : 1000px;
  height : 300px;
  overflow: hidden;
}

.container .wrapper {
  position : absolute;
  left : 0;
  right : 0;
  width : 100%;
  height : 100%;
}

.container .wrapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container .wrapper .silde:nth-of-type(1) {
  z-index: 1;
  opacity: 1;
}

.container .wrapper .slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.container .focus {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  height : 12px;
  padding : 4px;
  background : rgba(255, 255, 255, .5);
  border-radius : 10px;
  font-size: 0;
}

.container .focus li {
  margin : 0 4px;
  display : inline-block;
  width : 12px;
  height : 12px;
  border-radius: 50%;
  background: #FFF;
}

.container .focus .active {
  background-color : red;
  opacity: 1;
}

.container .arrow {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -22.5px;
  width: 28px;
  height: 45px;
  opacity: 0.3;
}

.container .arrow:hover {
  opacity: 1;
}

.container .arrowLeft {
  background: cyan url("img/arrow/back.png") no-repeat center center;
  left : 0;
  z-index: 11;
}
.container .arrowRight {
  background: rgb(86, 87, 87) url("img/arrow/next.png") no-repeat center center;
  right : 0;
  z-index: 11;
} */




/*选项卡
* {
  padding: 0;
  margin: 0;
}


.tabBox {
  width: 360px;
  margin: 20px auto;
}

.tabBox .option {
  height: 34px;
  border: 1px solid #DBDEE1;
  background: #EEE;
}

.tabBox .option li {
  list-style: none;
  float: left;
  padding: 0 12px;
  line-height: 34px;
}

.tabBox .option li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}


.tabBox .option li.active {
  border-top: 3px solid #FF8400;
  line-height: 32px;
  margin-top: -1px;
  background: white;
}

.tabBox .con {
  display: none;
  height: 230px;
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  background: lightcyan;
}

.tabBox .con.active{
  display: block;
} */

/* #outer {
  margin: 20px 0;
  background: lightsalmon;
  width: 200px;
  height: 200px;
  position: relative;
}

#inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rebeccapurple;
  width: 100px;
  height: 100px;
} */


/* 放大镜
.magnifierBox {
  position: relative;
  margin: 20px auto;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.magnifierBox .smallBox, .magnifierBox .bigBox {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.magnifierBox .smallBox {
  float: left;
}


.magnifierBox .smallBox img {
  display: block;
  width: 100%;
  height: 100%;
}

.magnifierBox .smallBox .mark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: #E01D20;
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: move;
}

.magnifierBox .bigBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

.magnifierBox .smallBox .mark, .magnifierBox .bigBox{
  display: none;
} */


li{
  list-style: none;
}

.clearfix:after{
  display: block;
  height: 0;
  content:'';
  clear:both;
}


.container {
  position: relative;
  margin: 20px auto;
  width: 462px;
  height: 77px;
}

.container .imgBox li{
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 75px;
  border: 1px solid black;
}


.container .imgBox li img {
  width: 100%;
  height: 100%;
}

.container .imgBox li:nth-last-child(1) {
  margin-right: 0;
}

.container .mark {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  border: 1px solid #000;
}

.container .mark img {
  display: block;
  width: 100%;
  height: 100%;
}